@import url('./normalize.css');

:root {
  /* COLORS */
  --primaryColor1: #222831;
  --primaryColor2: #393e46;
  --primaryColor3: #00adb5;
  --primaryColor4: #eeeeee;

  --primaryColor4Filter: invert(100%) sepia(0%) saturate(327%)
    hue-rotate(110deg) brightness(118%) contrast(87%);

  /* LAYOUT */
  --pageWidth: calc(100vw - 30px);
  --pageMaxWidth: 1024px;

  /* STYLE */
  --sectionTopBottomPadding: 30px;
  --borderRadius: 30px;
  --buttonPadding: 10px 16px;
  --sectionPadding: var(--sectionTopBottomPadding) 0;
  --titleFontSize: 30px;
  --transitionTime: 0.3s;
}

body {
  background-color: var(--primaryColor4);
  font-family: var(--font-hind-madurai);
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

@media screen and (min-width: 768px) {
  :root {
    /* STYLE */
    /* --borderRadius: 5px; */
    /* --sectionPadding: 30px 0; */
    --titleFontSize: 30px;
    --sectionTopBottomPadding: 70px;
    --pageWidth: calc(100vw - 100px);
  }
}

@media screen and (min-width: 992px) {
  :root {
    /* STYLE */
    /* --borderRadius: 5px; */
    /* --sectionPadding: 30px 0; */
    --titleFontSize: 45px;
  }
}
